<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
        {% stylesheets 'bundles/bionicuniversityuser/css/main.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
{% block body %}
    <h1 align = "center">
        Добро пожаловать в личный кабинет, {{ app.user.username }}!
    </h1>
    <div id="menu" align = "center">
        <ul>
            <li><a href="{{ path('write_post') }}">Публикация</a></li>
            <li><a href="{{ path('my_post') }}">Просмотр моих публикаций</a></li>
            <li><a href="{{ path('all_post') }}">Все публикации</a></li>
            <li><a href="#">Подписки</a></li>
            <li><a href="#">Я иду</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('post_moderate') }}">На модерации</a></li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="{{ path('bionic_university_user_logout') }}">
                        Выход
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block content %}
{% endblock %}
</html>